<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-button fill="clear" slot="end" (click)="onDisplayModeChange(1)" *ngIf="displayMode === 2">
      <ion-icon name="list"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" (click)="onDisplayModeChange(2)" *ngIf="displayMode === 1">
      <ion-icon name="grid"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

 <ion-content >
   <div *ngIf="displayMode === 1">
      <app-list *ngFor="let barang of barang" [barang]="barang"></app-list>
   </div>
  
        <div *ngIf="displayMode === 2">
          <ion-grid >
            <ion-row >
              <ng-container *ngFor="let barang of barang">
                <ion-col size="6" size-md="4" size-lg="3" *ngIf="barang.stok != 0">
                    <app-grid [barang]='barang'></app-grid>
                </ion-col>
              </ng-container>
            </ion-row>
          </ion-grid>
       </div>

 </ion-content>
